<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO LIST</title>
</head>
<body>
    <% if(day === "Saturday"){%>
<h1 style="color:violet">It's a <%= day %> !</h1>
 <% } else{%>
    <h1 style="color:grey">It's a <%= day-%> !</h1>
 <% } %>
   Be happy!
</body>
</html>